# Dependencias
node_modules/

# Variables de entorno
.env
.env.local
.env.*.local

# Logs
*.log

# Sistema operativo
.DS_Store
Thumbs.db

# VS Code
.vscode/

# Archivos temporales
*.tmp
*.temp

# Archivos de respaldo
*.bak
*.swp

# Builds
dist/
build/